/* sets fonts and some overall margins*/
html {
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;
}

body {
  margin: 0;
  padding:0px 64px 64px 36px;
  background:#e1e6ea;
  font-size:0.75em;
  text-align:left;
  line-height:1.5;
  color:#333;
}

/*Basic HTML styles*/
/*table {margin:0 0 1.5em 0;padding:0;}
a {color:#2f7a70;}
a:hover, a:focus {text-decoration:none;}
abbr {text-decoration:none;border:0;}
a abbr {text-decoration:underline;border-width:1px;}
a:hover abbr {text-decoration:none;border-width:0;}*/


img {border:0px solid #ddd;padding:3px;}
img.no-border {border:0;padding:0;}
/*end test*/


/* -- horizontal alternating greys style table -- */
table.highlights {
  border-collapse: separate;
  border-spacing: 0;
  border: none;
}
th.highlights, td.highlights {
  border-top: 0px solid #FFFFFF;
  border-bottom: 0px solid #FFFFFF;
  border-left: 0px solid #FFFFFF;
  border-right: 0px solid #FFFFFF;
  padding: 7px;
}
th.highlights {
  background-color: #DFEFFF;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
tr.highlights:nth-child(odd) {
  background-color:#eee;
}
tr.highlights:nth-child(even) {
  background-color:#fafafa;
}
/* end -- alternating greys style table -- */

/* -- vertical alternating greys -- */
table.vert {
  border-collapse: separate;
  border-spacing: 0;
  border: none;
}
th.vert, td.vert {
  border-top: 0px solid #FFFFFF;
  border-bottom: 0px solid #FFFFFF;
  border-left: 0px solid #FFFFFF;
  border-right: 0px solid #FFFFFF;
  padding: 4px;
  text-align: center;
}
th.vert {
  background-color: #DFEFFF;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
td.vert:nth-child(odd) {
  background-color:#eee;
}
td.vert:nth-child(even) {
  background-color:#fafafa;
}
/* -- end vertical alternating greys -- */

/*/ Main block, white background, common to all pages, used in top.html/*/
div.backgr {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  align-self: center;
  background-color: white;
  height: 100%;
  display:block;
}
